:roots{
    ---primary:#212529;
    ---secondery:#F8F9FA;
    ---mute:#666;
    ---texte:var(---secondery);
    
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
}

body{
    background-color: #212529;
    color: #F8F9FA;
    
}




